

/* h1 {
  background-color: #E6E6FA;
} */

/* #body {
  background-color: #E6E6FA;
} */
#mySidenav{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
#hello{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 70px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 70px 0 10px 0;
}
#Activity{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#video{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#music{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px
}
#button3{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#button4{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#button5{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}

#stressbody {
  background-color: #E6E6FA;
  margin: 0px
}

#prof{
  position: fixed;
  right: 0;
  top:0;
  margin-top: 10px;
  margin-right:10px;
}

#notif{
  position: fixed;
  right: 0;
  top:0;
  margin-top:10px;
  margin-right: 70px;
}

#relax{
  margin-top: 50px;
}

d{
  position: fixed;
  top: 0;
  left: 00;
}

#keepCalm{
  margin-top: 50px;
}
