h1 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 20px 0;
}
h2 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 40px 0;
}
h3 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
}
#timename{
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  margin:auto;
  background-color:#FFF9FC;
  padding: 10px;
  color:Black;
}
h6{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 40px 0;
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 36px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#mySidenav{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
c{
  color: black;
}
c1{
  color: black;
}
d{
  position: fixed;
  top: 0;
  left: 00;
}
#iconplacement{
  position: fixed;
  top: 0;
  left: 00;
}
#hello{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 70px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 70px 0 10px 0;
}
/*Colors*/
#homepage {
  background-color: #c2e6ff;
}

#studybody {
  background-color: #ffd1c3;
}
#timebody{
background-color: #FFFFCC;
}

#prof{
  position: fixed;
  right: 0;
  top: 0;
  margin-top:10px;
  margin-right:10px;
}
#notif{
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 70px;
}
#info {
  font-family: monospace;
  font-size: 20px;
  margin: 20px;

}

#total{
  border: 5px solid black;
  font-size: 30px;
  font-family: monospace;
  width: 100px;
  margin:auto;
  padding: 10px;
}

/* #button{
  margin: 20px 0 0 0;
} */

#break{
  font-family: monospace;
  font-size: 20px;
  margin: 20px;
}
#timetitle{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 40px 0;
}
/* h1{
  border: 2px solid black;
  color:white;
  margin-top: 30px;
  font-size: 30px;
  width: 300px;
  font: 400 100px/0.8 'Cookie', Helvetica, sans-serif;

  background-color:#FFF9FC;
  padding: 10px;
} */


/* body{
background-color: #FFFFCC;
} */
#info {
  font-family: monospace;
  font-size: 20px;
  margin: 20px;

}
/* #clock {
  position: fixed;
  top: 20px;
  right: 0px;
  margin-top:50px;
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  height: 320px;
  padding: 10px;
  color:Black;

} */

#total{
  border: 5px solid black;
  font-size: 30px;
  font-family: monospace;
  width: 100px;
  margin:auto;
  padding: 10px;
}

#mytable{
  margin: 20px;

  padding: 40px;
}

#content {
  color: pink;
}


*{  }
body {
 font-family: Roboto, sans-serif;
}
.footer {

 /* padding-bottom: 2em; */
 color: white;
 font-style: italic;
 font-weight: 100;
 float: left;
}
/* .container {
padding: 16px;
 height: 50%;
 width: 50%;
 padding-top: 10vh;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
 background-blend-mode: multiply, multiply;
} */

.timer {

 min-height: 200px;
 width: 90vw;
 margin: auto;
 background-color: white;
 box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.6);
 display: flex;
}

/* span {

 font-size: 8em;
} */

.clock {

 margin: auto;
}

.indicators {

 font-size: 1.2em;
 text-align: center;
 font-weight: 100;
}

.stBtn {
 text-align: center;
 font-size: 2em;
 width: 150px;
 height: 70px;
 line-height: 70px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 margin-right: 0.5em;
 border-radius: 12px;
 cursor: pointer;
}

.refresh {
 text-align: center;
 font-size: 2em;
 width: 150px;
 height: 70px;
 line-height: 70px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 border-radius: 12px;
 cursor: pointer;
}

.controls {
 display: flex;
 justify-content: center;
}

.red {
 background-color: red;
}

#ado {
 display: none;
}

@media only screen and (min-width: 420px) {
 .timer {
   width: 400px;
 }
}

/* Calendar */
#calender_header{
  font:400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: black;
  font-size: 65px;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 20px 0;
}

@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,900,900i';
.txt__normal {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.txt__normal--it {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.txt__bold {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.txt__bold--it {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.txt__awesome {
  font: normal normal normal 14px/1 FontAwesome;
}
/* VARIABLES ================================================*/
/* RESPONSIVE ================================================*/
/* ===========================================================*/
body {
  position: relative;
  height: 100%;
}
body.overlay:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
#html {
  height: 100%;
  background: #dcffd1;
  color: 	#000000;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
/* UTILITY ===========================================================*/
.u-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.u-transition {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.u-transition.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.u-transition.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.resetDefaultApparence {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
}
.resetDefaultApparence::-ms-expand {
  display: none;
}
/* STYLE ===========================================================*/
header {

  height: 80px;
  width: 100%;
  z-index: 50;
  background: #7ddf7d;
}
header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: 	#000000;
  letter-spacing: 2px;
  font-size: 13px;
}
header > .wrapper a {
  color: 	#000000;
  text-decoration: none;
  margin-left: 10px;
}
.c-monthyear {
  display: flex;
}
.c-month {
  position: relative;
  height: 80px;
  line-height: 80px;
}
.c-month #c-paginator {
  position: relative;
  width: 200px;
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
}
.c-month #c-paginator .c-paginator__month {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
}
.c-month #c-paginator .c-paginator__month:nth-child(1) {
  left: 0;
}
.c-month #c-paginator .c-paginator__month:nth-child(2) {
  left: 200px;
}
.c-month #c-paginator .c-paginator__month:nth-child(3) {
  left: 400px;
}
.c-month #c-paginator .c-paginator__month:nth-child(4) {
  left: 600px;
}
.c-month #c-paginator .c-paginator__month:nth-child(5) {
  left: 800px;
}
.c-month #c-paginator .c-paginator__month:nth-child(6) {
  left: 1000px;
}
.c-month #c-paginator .c-paginator__month:nth-child(7) {
  left: 1200px;
}
.c-month #c-paginator .c-paginator__month:nth-child(8) {
  left: 1400px;
}
.c-month #c-paginator .c-paginator__month:nth-child(9) {
  left: 1600px;
}
.c-month #c-paginator .c-paginator__month:nth-child(10) {
  left: 1800px;
}
.c-month #c-paginator .c-paginator__month:nth-child(11) {
  left: 2000px;
}
.c-month #c-paginator .c-paginator__month:nth-child(12) {
  left: 2200px;
}
.c-month .prev,
.c-month .next {
  position: absolute;
  display: block;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 9px 12px;
  background-color: #a6e9a6;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-month .prev.long,
.c-month .next.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-month .prev.elastic,
.c-month .next.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-month .prev {
  left: 0;
}
.c-month .prev:hover {
  padding: 9px 10px;
  background-color: #69da69;
}
.c-month .next {
  right: 0;
}
.c-month .next:hover {
  padding: 9px 14px;
  background-color: #69da69;
}
.c-paginator__year {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
}
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color:#a6e9a6 ;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.o-btn.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.o-btn.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.o-btn span {
  margin-left: 10px;
}
.o-btn:hover {
  background-color: #69da69;
}
.c-calendar {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.c-calendar__style {
  background-color: #baeeba;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.c-cal__container {
  position: relative;
  width: calc(100% - 300px);
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
}
.c-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.c-main-01 {
  left: 0;
}
.c-main-02 {
  left: 100%;
}
.c-main-03 {
  left: 200%;
}
.c-main-04 {
  left: 300%;
}
.c-main-05 {
  left: 400%;
}
.c-main-06 {
  left: 500%;
}
.c-main-07 {
  left: 600%;
}
.c-main-08 {
  left: 700%;
}
.c-main-09 {
  left: 800%;
}
.c-main-10 {
  left: 900%;
}
.c-main-11 {
  left: 1000%;
}
.c-main-12 {
  left: 1100%;
}
.c-cal__row {
  display: flex;
  justify-content: flex-start;
}
.c-cal__col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.c-cal__cel {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #92e492;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-cal__cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.c-cal__cel:nth-child(1) p {
  background: #92e492;
}
.c-cal__cel:nth-child(7) p {
  background: #92e492;
}
.c-cal__cel:hover {
  background-color: #69da69 !important;
}
.c-cal__cel:hover p {
  background: #69da69 !important;
}
.c-cal__cel.isSelected {
  background-color: #92e492;
}
.c-cal__cel.isSelected p {
  background:#69da69 ;
}
.c-cal__cel.isToday {
  background-color: rgba(245, 113, 112, 0.2);
}
.c-cal__cel.isToday p {
  background: rgba(245, 113, 112, 0.4);
}
.c-cal__cel.other_month {
  color: 	#000000;
}
.event:before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, calc(50% + 10px));
  -webkit-transform: translate(-50%, calc(50% + 10px));
}
.event--project:before {
  background-color: #FACC2E;
}
.event--Test:before {
  background-color: #10DDC2;
}
.event--other:before {
  background-color: #F57170;
}
.c-aside {
  width: 300px;
  padding: 20px;
}
.c-aside__day {
  font-size: 28px;
  margin: 50px 0;
}
.c-aside__day .c-aside__num {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.c-aside__event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
}
.c-aside__event:before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;
  background-color: #e3f8e3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.c-aside__event--prject:before {
  background-color: #FACC2E;
}
.c-aside__event--Test:before {
  background-color: #10DDC2;
}
.c-aside__event--other:before {
  background-color: #F57170;
}
.c-event__creator {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}
.c-event__creator.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-event__creator.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-event__creator form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.c-event__creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
  display: none;
}
input {
  height: 40px;
}
/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffebef;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #ffd1dc;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #ff85a2;
    color: white;
}

/* Style the header */
.header {
    background-color: #ffd2df;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.calendarform {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

/* Stress Relief */
#Activity{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#video{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#music{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px
}
#Meditation{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#Quick_DIY{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}
#button5{
  margin: 10px;
  background-color: #AEC6CF;
  border: none;
  color: black;
  margin-top: 75px;
}








#buttonF{
  margin: 10px;
  background-color:#E8DAEF   ;
  border-color: none;
}
#buttonA{
  margin: 10px;
  background-color:#E8DAEF     ;
  border-color: none;
}
#buttonB{
  margin: 10px;
  background-color:#E8DAEF   ;
  border-color: none;
}

#buttonC{
  margin: 10px;
  background-color: #E8DAEF      ;
  border-color: none;
}
#buttonD{
  margin: 10px;
  background-color: #E8DAEF     ;
  border-color: none;
}
#buttonE{
  margin: 10px;
  background-color:#E8DAEF    ;
  border-color: none;
}

#stressbody {
  background-color: #E6E6FA;
  margin: 0px
}

#relax{
  margin-top: 50px;
}

#keepCalm{
  margin-top: 50px;
}

/*Allie's code*/
#timemanagerheading{
  /* border: 2px solid black; */
  margin-top: 30px;
  font-size: 30px;
  width: 300px;
  font: 400 90px/0.8 'Cookie', Helvetica, sans-serif;
  /* background-color:#FFEBEE    ; */
  padding: 10px;
  color: #fff;
  /* text-shadow: 4px 4px 3px rgba(0,0,0,0.1); */

  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* margin: 70px 0 10px 0; */
}


#timebody{
/* background-color: #E6FCFF; */
background-color: #FFFFCC;
}
#info {
  font-family: Helvetica;
  font-size: 20px;
  margin: 20px;
}
/* #clock {
  position: fixed;
  top: 20px;
  left: 900px;
  margin-top:50px;
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  height: 450px;
  padding: 10px;
  color:Black;
} */

#total{
  /* color: #fff; */
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
  font-size: 30px;
  font-family:Helvetica;
  width: 100px;
  margin:auto;
  padding: 10px;
  background-color:#FFEBEE    ;
}

#mytable{
  margin: 20px;
  padding: 40px;
}

#button{
  margin: 20px
}

#help{
  font-family: Helvetica;
  font-size: 20px;
  margin: 20px;

}

#content {
  color: pink;
}

{
 margin: 0;
 padding: 0;
}


*{  }
body {
 font-family: Roboto, sans-serif;
}
.footer {
 position: fixed;
 right:250px;
 top: 440px;
 padding-bottom: 2em;
 color: black;
 font-style: italic;
 font-size: 20px;
 font-weight: 100;

}
.container {
  position: fixed;
  top: 20px;
  left: 900px;
  margin-top:50px;
  /* border: 2px solid black; */
  font-size: 30px;
  width: 300px;
  height: 350px;
  padding: 10px;
  color:Black;

 height: 50%;
 width: 24%;
 padding-top: 10vh;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
 background-blend-mode: multiply, multiply;

}

.timer {
 position: fixed;

 left: 903px;
 min-height: 100px;
 width: 360px;
 margin: auto;
 background-color: white;
 box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.6);
 display: flex;


}

#timerfontsize {

 font-size: 4em;
}

.clock {

 margin: auto;

}

.indicators {

 font-size: 1.2em;
 text-align: center;
 font-weight: 100;

}

.stBtn {
 text-align: center;
 font-size: 1em;
 width: 145px;
 height: 75px;
 line-height: 65px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 margin-right: 0.5em;
 border-radius: 20px;
 cursor: pointer;
 position: fixed;
 left: 935px;
 top:300px;

}

.refresh {
 text-align: center;
 font-size: 1em;
 width: 145px;
 height: 75px;
 line-height: 65px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 border-radius: 20px;
 cursor: pointer;
 position: fixed;
 left:1090px;
 top: 300px;

}

.controls {
 display: flex;
 justify-content: center;

}

.red {
 background-color: red;

}

#ado {
 display: none;
}

@media only screen and (min-width: 220px) {
 /* .timer {
   width: 200px;
 } */
}
#pic1{
  left:300px;
  position: sticky;
  margin:auto;

}
#pic2 {
  left: 600px;
  position:sticky;
  top:340px;
  margin:auto;
}
