h1 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 20px 0;
}
h2 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 40px 0;
}
h3 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
}
h4{
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  margin:auto;
  background-color:#FFF9FC;
  padding: 10px;
  color:Black;
}
h6{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 40px 0;
}

.button {
  background-color: #c0ffee;
}
#welcomebody {
  background-color: #c2e6ff;
}
#studybody {
  background-color: #ffd1c3;
}
#timebody{
background-color: #E6FCFF;
}
#content {
  color: #c0ffee
}
a{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
c{
  color: black;
}
c1{
  color: black;
}
d{
  position: fixed;
  top: 0;
  left: 00;
}
#hello{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 70px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 70px 0 10px 0;
}
#prof{
  position: fixed;
  right: 0;
  top: 0;
  margin-top:10px;
  margin-right:10px;
}
#notif{
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 70px;
}
#info {
  font-family: monospace;
  font-size: 20px;
  margin: 20px;

}

#total{
  border: 5px solid black;
  font-size: 30px;
  font-family: monospace;
  width: 100px;
  margin:auto;
  padding: 10px;
}

#mytable{
  margin: 20px;

  padding: 40px;
}

#button{
  margin: 20px
}

#break{
  font-family: monospace;
  font-size: 20px;
  margin: 20px;
}
