h4{
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  margin:auto;
  background-color:#FFF9FC;
  padding: 10px;
  color:Black;
}


body{
background-color: #E6FCFF;
}
#info {
  font-family: monospace;
  font-size: 20px;
  margin: 20px;

}

#total{
  border: 5px solid black;
  font-size: 30px;
  font-family: monospace;
  width: 100px;
  margin:auto;
  padding: 10px;
}

#mytable{
  margin: 20px;

  padding: 40px;
}

#button{
  margin: 20px
}

#break{
  font-family: monospace;
  font-size: 20px;
  margin: 20px;

}
