h1 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 20px 0;
}
h3 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
}
h2 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 40px 0;
}
.button {
  background-color: #c0ffee;
}
body {
  background-color: #c2e6ff;
}

#content {
  color: #c0ffee
}
a{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
c{
  color: black;
}
c1{
  color: black;
}
