h1 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 20px 0;
}
h3 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
}
h2 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 0 0 40px 0;
}
h6{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 40px 0 40px 0;
}

.button {
  background-color: #c0ffee;
}
body {
  background-color: #ffd1c3;
}

#content {
  color: #c0ffee
}
a{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
c{
  color: black;
}
c1{
  color: black;
}
d{
  position: fixed;
  top: 0;
  left: 00;
}
#hello{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 70px;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin: 70px 0 10px 0;
}
#prof{
  position: fixed;
  right: 0;
  top: 0;
  margin-top:10px;
  margin-right:10px;
}
#notif{
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 70px;
}
