h1{
  /* border: 2px solid black; */
  margin-top: 30px;
  font-size: 30px;
  width: 300px;
  font: 400 100px/0.8 'Cookie', Helvetica, sans-serif;
  /* background-color:#FFEBEE    ; */
  padding: 10px;
  color: #fff;
  /* text-shadow: 4px 4px 3px rgba(0,0,0,0.1); */

  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* margin: 70px 0 10px 0; */
}


body{
/* background-color: #E6FCFF; */
background-color: #FFFFCC;
}
#info {
  font-family: Helvetica;
  font-size: 20px;
  margin: 20px;
}
/* #clock {
  position: fixed;
  top: 20px;
  left: 900px;
  margin-top:50px;
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  height: 450px;
  padding: 10px;
  color:Black;

} */

#total{
  /* color: #fff; */
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
  font-size: 30px;
  font-family:monospace;
  width: 100px;
  margin:auto;
  padding: 10px;
  background-color:#FFEBEE    ;
}

#mytable{
  margin: 20px;
  padding: 40px;
}

#button{
  margin: 20px
}

#help{
  font-family: Helvetica;
  font-size: 20px;
  margin: 20px;

}









#content {
  color: pink;
}

{
 margin: 0;
 padding: 0;
}


*{  }
body {
 font-family: Roboto, sans-serif;
}
.footer {
 position: fixed;
 right:250px;
 top: 440px;
 padding-bottom: 2em;
 color: black;
 font-style: italic;
 font-size: 20px;
 font-weight: 100;

}
.container {
  position: fixed;
  top: 20px;
  left: 900px;
  margin-top:50px;
  border: 2px solid black;
  font-size: 30px;
  width: 300px;
  height: 350px;
  padding: 10px;
  color:Black;

 height: 50%;
 width: 24%;
 padding-top: 10vh;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
 background-blend-mode: multiply, multiply;

}

.timer {
 position: fixed;

 left: 903px;
 min-height: 100px;
 width: 360px;
 margin: auto;
 background-color: white;
 box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.6);
 display: flex;


}

span {

 font-size: 4em;
}

.clock {

 margin: auto;

}

.indicators {

 font-size: 1.2em;
 text-align: center;
 font-weight: 100;

}

.stBtn {
 text-align: center;
 font-size: 1em;
 width: 145px;
 height: 75px;
 line-height: 65px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 margin-right: 0.5em;
 border-radius: 20px;
 cursor: pointer;
 position: fixed;
 left: 935px;
 top:300px;

}

.refresh {
 text-align: center;
 font-size: 1em;
 width: 145px;
 height: 75px;
 line-height: 65px;
 background-color: aquamarine;
 margin-top: 2em;
 margin-bottom: 0.5em;
 border-radius: 20px;
 cursor: pointer;
 position: fixed;
 left:1090px;
 top: 300px;

}

.controls {
 display: flex;
 justify-content: center;

}

.red {
 background-color: red;

}

#ado {
 display: none;
}

@media only screen and (min-width: 220px) {
 /* .timer {
   width: 200px;
 } */
}
